.git
.terraform
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
node_modules
admin/node_modules
.next
admin/.next
bin
function.zip
bootstrap
*.exe
*.log
tmp
